/* work sans font from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;700;800&family=Poppins&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;   
}

/* header style */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title {
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}
nav > ul {
    display: flex;
    justify-content: space-around;
}
nav li {
    list-style: none;
    font-weight: 500;
    font-size: 1rem;
    margin-right: 30px;
}
nav li a {
    text-decoration: none;
    color: #424242;
}
/* banner style */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;

}
.banner-des {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}
.btn-primary {
    border-radius: 8px;
    color: #FFF;
    background: #FF900E;
    padding: 20px 25px;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
}
.banner img {
    width: 100%;
    margin-top: 50px;
}

/* main section style */
main {
    max-width: 1440px;
    margin: 70px auto;
}
/* teams style */

.teams-container {
    display: flex;
    align-items: center;
}
.team-imgcontainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content {
    padding-left: 73px;
}
.teams-title {
    font-size: 2.8rem;
}
.one {
    color: #727272;
    font-size: 2.9rem;
    font-weight: 500;
}
.two {
    color: #131313;
    font-size: 2.9rem;
    font-weight: 700;
}
.three {
    color: #FF900E;
    font-size: 2.9rem;
    font-weight: 700;
}


/* facts section */

.facts-cards {
    display: flex;
    justify-content: space-around;
}
.some-facts {
    margin-bottom: 10px;
}
.des {
    width: 40%;
}

.card {
    border-radius: 8px;
    border: 1px solid #ff900e;
    text-align: center;
    padding: 30px;
    margin-top: 10px;

}
.card-stats {
    font-size: 2.8rem;
    color: #424242;
    margin: 10px 0 5px;
}
.card-title {
    font-weight: 600;
    color: #727272;
    font-size: 1.25rem;
    margin: 3px;
}

/* sponsor section */

.sponsor {
    text-align: center;
}
.section-title {
    margin-bottom: 10px;
}
.sponsors-logo {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    gap: 20px;
    align-items: center;
}
.sponsors-logo img {
    width: 165px;
}




/* responsive media query */

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }
    nav, .sponsors-logo {
        flex-direction: column;
    }
    .teams-container {
        flex-direction: column-reverse;
        gap: 20px;
    }
    .team-imgcontainer {
        grid-template-columns: 1fr;
        
    }
    .teams-content {
        padding: 15px;
    }
    .facts-cards {
        flex-direction: column;
        padding: 10px;
        gap: 15px;
    }
    .des {
        padding: 0 10px;
        width: 90%;
    }
    .some-facts {
        padding-left: 10px;
    }
    .sponsors-logo img {
        margin: 20px 0;
    }
}

@media screen and (min-width:576px) and (max-width:960px) {
    nav {
        flex-direction: column;
    }
    header {
        padding: 50px;
    }
    .teams-container {
        flex-direction: column-reverse;
        gap: 20px;
    }
    .des {
        padding: 0 10px;
        width: 90%;
    }
    .facts-cards, .sponsors-logo {
        flex-wrap: wrap;
    }
    .sponsors-logo img {
        margin: 20px 0;
    }
}